{% extends 'base.html.twig'%}

{% block title %}
    <title>Ajout d'un article</title>
{% endblock %}

{% block main %}
    <h1>Ajout d'un article</h1>
    <section>
       <form action="{{ path('adminInsertArticle') }}" method="get">
           <label for="title">Titre de l'article</label>
           <input type="text" name="title"><br>
           <label for="isPublished">A publier ?</label>
           <input type="text" name="isPublished"><br>
           <label for="author">Auteur de l'article</label>
           <input type="text" name="author"><br>
           <label for="content">Contenu de l'article</label>
           <textarea name="content" rows="10" cols="35"></textarea><br>
           <label for="image">Image de l'article</label>
           <input type="text" name="image"><br>
           <button>Ajouter</button><br>
       </form>
    </section>
{% endblock %}

{% block footer %}
    <p>Ajout d'un article</p>
{% endblock %}