{% extends 'admin/base.html.twig'%}

{% block title %}
    <title>Ajout d'une catégorie</title>
{% endblock %}

{% block main %}
    <h1>Ajout d'une catégorie</h1>
    <section>
            {{ form(form) }}
    </section>
{% endblock %}

{% block footer %}
    <p>Ajout d'une catégorie</p>
{% endblock %}