{% extends 'admin/base.html.twig' %}

{% block main %}
    <section>
        {% for user in users %}
            <article>
                <h2>{{ user.email }}</h2>
                <div>
                    {% for role in user.roles %}
                        <span>{{ role }} | </span>
                    {% endfor %}
                </div>
                <a href="{{ path ('adminUpdateAdmin', {'id': user.id}) }}">Mettre à jour</a>
                <a href="{{ path ('adminDeleteAdmin', {'id': user.id}) }}">Supprimer</a>
            </article>
        {% endfor %}
    </section>
{% endblock %}

