body {
  background-color: $bg;
}

a#night_btn {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 20%;
  padding: 10px 30px;
  white-space: nowrap;
}

main {
  text-align: center;
}

h1 {
  margin: 1em 0 3em;
}

h2 {
  margin-bottom: 2em;
}

div#articles {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
}

div#article {
  width: 48vw;
  min-width: 700px;
  padding: 0 5vw;
  margin-bottom: 2em;
}

form {
  width: 70vw;
}

.msg {
  background-color: $bg;
}

p.error {
  @extend .msg;
  color: $msg_error;
}

p.success {
  @extend .msg;
  color: $msg_success;
}

.night_mode {
  background-color: black;
  color: white;
  a {
    background-color: black;
    color: white;
    border: 1px solid white;
  }
}