{% extends 'admin/base.html.twig'%}

{% block title %}
    <title>{{ article.title }}</title>
{% endblock %}

{% block main %}
    <h1>Votre article</h1>
    <section>
        {% include 'admin/_article.html.twig' %}
    </section>
{% endblock %}

{% block footer %}
    <p>{{ article.title }}</p>
{% endblock %}