{% extends 'admin/base.html.twig'%}


{% block main %}
    <h1>Articles de film</h1>
    <section>
        <div  id="articles">
            {% for article in articles %}
                {% include 'admin/_article.html.twig' %}
            {% endfor %}
        </div>
        <a href="{{ path('adminInsertArticle') }}">Ajouter un article</a>
    </section>
{% endblock %}
{% block footer %}
    <p>Articles de film</p>
{% endblock %}