
{% extends 'base.html.twig' %}

{% block main %}
    <section class="articles">
        {% for article in articles %}

            {% if article.isPublished %}
                <article class="box-article article">
                    <a href="{{ path('Article', {'id': article.id }) }}">
                        <h1>{{ article.title }}</h1>
                    </a>
                </article>
            {% endif %}

        {% endfor %}
    </section>
{% endblock %}