{% include '_header.html.twig' %}

<h1>Bienvenue sur ce site</h1>
<section>
    <div  id="articles">
        {% for article in articles | filter(article => article.isPublished) | slice(0,3) %}
            {% include '_article.html.twig' %}
        {% endfor %}
    </div>
</section>
{% include '_footer.html.twig' %}